* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
}

.step-img1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step-img2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step-img3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.stepn {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.step-title {
  margin: 15px 0 5px 0;
}

.step-box:nth-child(2) {
  margin: 0 30px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    margin: 50px 0;
    display: block;
  }

  .step-box {
    width: 90%;
    margin: auto;
  }

  .step-box:nth-child(2) {
    margin: 20px auto;
  }
}
