* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #d43999;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

header > div {
  flex-basis: 140px;
  height: 70px;
  background-color: pink;
  margin: 0 10px;
}

header > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 300px;
  background-color: rgb(145, 201, 145);
}

.main-right {
  background-color: green;
  padding: 20px;
  max-width: 700px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.main-right > div {
  background-color: yellow;
  margin: 10px;
  flex-basis: 200px;
  height: 130px;
}

footer {
  background-color: rgb(147, 171, 238);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer > div {
  height: 40px;
  margin: 10px;
  flex-basis: 45%;
  max-width: 600px;
  background-color: rgb(186, 220, 233);
}
